

.iframeContainer {
  width: 100%;
}

.iframe {
  width: 100%;
  height: 1000px;
  border: 0;
}

@media only screen and (max-width: var(--iframe-breakpoint)) {
  .iframe {
    width: calc(var(--iframe-mobile-width) * 1vw);
    height: var(--iframe-mobile-height);
    transform: scale(calc(100/var(--iframe-mobile-width)));
    transform-origin: 0 0;
  }
} 